profiles {
    standard {
        singularity.enabled = true
        singularity.cacheDir = '/fs/scratch/PAS1568/htoth99/singularity'
        conda.enabled = true
        conda.useMamba = true
        conda.cacheDir = '/fs/scratch/PAS1568/htoth99/conda'
        process {
            withName: 'TRIMGALORE' {
                container = 'oras://community.wave.seqera.io/library/trim-galore:0.6.10--fef117c83afd5e0c'
                time = 30.min
                clusterOptions = '-A PAS1568'
                executor = 'slurm'
            }
            withName: 'HOSTINDEX' {
                container = 'oras://community.wave.seqera.io/library/bowtie2_python:bef6732c3362f2dd'
                time = 6.hour
                memory = 20.GB
                clusterOptions = '-A PAS1568'
                executor = 'slurm'
            }
            withName: 'HOSTREMOVE' {
                container = 'oras://community.wave.seqera.io/library/bowtie2_python:bef6732c3362f2dd'
                time = 4.hour
                memory = 15.GB
                clusterOptions = '-A PAS1568'
                executor = 'slurm'
            }
            withName: 'KRAKEN2' {
                container = 'oras://community.wave.seqera.io/library/kraken2:2.1.3--fb44221536fbccbe'
                time = 2.hour
                memory = 75.GB
                clusterOptions = '-A PAS1568'
                executor = 'slurm'
            }
            withName: 'ASSEMBLY' {
                container = 'oras://community.wave.seqera.io/library/spades:4.0.0--b92bae78737675b2'
                time = 4.hour
                memory = 50.GB
                clusterOptions = '-A PAS1568'
                executor = 'slurm'
            }
            withName: 'ASSEMBLYINDEX' {
                container = 'oras://community.wave.seqera.io/library/bedtools_bwa_samtools:357203cb0c27dd40'
                time = 1.hour
                memory = 20.GB
                clusterOptions = '-A PAS1568'
                executor = 'slurm'
            }
            withName: 'CONCOCT' {
                container = 'oras://community.wave.seqera.io/library/concoct:1.1.0--c18be443b5bd4901'
                time = 1.hour
                memory = 15.GB
                clusterOptions = '-A PAS1568'
                executor = 'slurm'
            }
            withName: 'MAXBIN2' {
                container = 'https://depot.galaxyproject.org/singularity/maxbin2:2.2.7--he1b5a44_2'
                time = 1.hour
                memory = 5.GB
                clusterOptions = '-A PAS1568'
                executor = 'slurm'
            }
            withName: 'METABAT2' {
                container = 'oras://community.wave.seqera.io/library/metabat2:2.17--0ae4a8dfde1fdde6'
                time = 1.hour
                memory = 8.GB
                clusterOptions = '-A PAS1568'
                executor = 'slurm'
            }
            withName: 'DREP' {
                container = 'oras://community.wave.seqera.io/library/drep:3.5.0--3ffa6b3ed09e0e84'
                time = 1.hour
                memory = 8.GB
                clusterOptions = '-A PAS1568'
                executor = 'slurm'
            }
        }
    }
}

